.scopeOverflowReport {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
}

.react-bootstrap-table {
  overflow-x: auto !important;
}

.report-modal-width {
  max-width: 95% !important;
}

.table-report-98 {
  margin-right: 2%;
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {
  .react-bootstrap-table-height {
    height: 340px;
  }

  .employees-task-report-table-height {
    height: 280px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1439px) {
  .react-bootstrap-table-height {
    height: 660px;
  }

  .employees-task-report-table-height {
    height: 630px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .react-bootstrap-table-height {
    height: 510px;
  }

  .employees-task-report-table-height {
    height: 490px;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1679px) {
  .react-bootstrap-table-height {
    height: 510px;
  }

  .employees-task-report-table-height {
    height: 490px;
  }
}

@media screen and (min-width: 1680px) and (max-width: 1919px) {
  .react-bootstrap-table-height {
    height: 650px;
  }

  .employees-task-report-table-height {
    height: 630px;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2111px) {
  .employees-task-report-table-height {
    height: 630px;
  }

  .react-bootstrap-table-height {
    height: 670px;
  }
}
