// .table td {
//   line-height: 0.5;
// }

.modal-width {
  max-width: 60% !important;
}

.allocation-modal-width {
  max-width: 80% !important;
}

.modal-width-produpload {
  max-width: 45% !important;
}

.table thead th,
.table thead td {
  text-transform: capitalize;
}

.rowBackgroundColor {
  background: #dcdcdc !important;
}

.demo-key-row:hover {
  text-decoration: underline;
}
