@media screen and (min-width: 1280px) and (max-width: 1366px) {
  .admin-table-height {
    height: 350px;
  }
}

// @media screen and (min-width: 1400px) and (max-width: 1439px) {
//   .projects-table-height {
//     height: 660px;
//   }
// }

// @media screen and (min-width: 1440px) and (max-width: 1599px) {
//   .react-bootstrap-table-height {
//     height: 510px;
//   }

//   .employees-task-report-table-height {
//     height: 490px;
//   }
// }

// @media screen and (min-width: 1600px) and (max-width: 1679px) {
//   .react-bootstrap-table-height {
//     height: 510px;
//   }

//   .employees-task-report-table-height {
//     height: 490px;
//   }
// }

// @media screen and (min-width: 1680px) and (max-width: 1919px) {
//   .react-bootstrap-table-height {
//     height: 650px;
//   }

//   .employees-task-report-table-height {
//     height: 630px;
//   }
// }

@media screen and (min-width: 1920px) and (max-width: 2111px) {
  .admin-table-height {
    height: 690px;
  }
}
